<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pepe Vision</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='stoned_pepe.png')}}">
    <link rel = "stylesheet" href="{{ url_for('static', filename = 'styles/main.css') }}">
    {% block head%}{% endblock%}
</head>


<body>

    {% block body %}{% endblock %}
    
    <script src ="{{ url_for('static',filename = 'scripts/main.js') }}"> </script>
</body>
</html>