{% extends 'base.html' %}

{% block head %} {% endblock %}
{% block body %}
    {% include 'header_band.html' %}

    <div class ="center-wrapper">
    <div class = 'main-media-box'>

        <h3 class="vid-titles" id="current-vid-title">{{vid_title}}</h3>
        
        <div class ="media-wrapper" id = "main-media">
            <img src="https://avatars.mds.yandex.net/i?id=e168d594d0df797c47e7f556759f75f3-6217553-images-thumbs&n=13" height="650" width="1000">
        </div>

        <form id="direct-search-form" class="center-wrapper" >
            <input type="text", placeholder="enter url" id="direct_search_input">
            <input type="submit" value="Direct lookup">
        </form>

    </div>
    </div>
{% endblock %}
    
